/* @font-face {
    font-family: Brygada+1918;
    src: url('https://fonts.googleapis.com/css2?family=Brygada+1918&display=swap');
    font-weight: 400;
} */

* {
    font-family: 'Brygada+1918', serif, monospace;

    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    min-width: 200px;
}

body {
    background-color: gray;
    box-sizing: border-box;
}

body * {
    box-sizing: content-box;
}

main p {
    margin-top: 0.7em;
}


/* Cabecera de la página */

header {
    background-color: #BF7F30;
    color: black;
    box-sizing: content-box;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 7px 7px 0px 7px;
}

.logo {
    width: 50px;
    height: 50px;
}

/* BREADCRUMB */
nav.breadcrumb {

    background-color: #BF7F30;
    box-sizing: border-box;
    width: 100%;
}

ul.breadcrumb {
    background-color: #BF7F30;
    box-sizing: content-box;
    list-style: none;
    width: 100%;

}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li:after {
    padding: 8px;
    content: ">";
}

ul.breadcrumb li a {
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    text-decoration: underline;
}


/* Botones navegación */

/* Desplegable verticales */
div.desplegable {
    position: relative;
    display: flex;
    width: 100%;
    background-color: #4CAF50;
}

span.desplegable,
.btn-group {
    width: 100%;
}

.btn-group {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
}

div.desplegable:hover .btn-group {
    display: block;
}

.btn-group li,
span.desplegable {
    background-color: #4CAF50;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    color: white;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    float: left;
    width: 100%;
    height: 2em;

}

.btn-group a {
    margin: auto;
    padding: auto;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}


.btn-group li:not(:last-child) {
    border-bottom: none;
}

/* Add a background color on hover */
.btn-group li:hover {
    text-decoration: underline;
    background-color: #3e8e41;
}



/* Menús */

menu {
    background-color: #D9D9D9;
    color: #8C4F2B;
}


/* Cuerpo de la página */

main {
    box-sizing: content-box;
    background-color: gray;
    color: black;
}

#ciclos {
    box-sizing: border-box;
    width: 95%;
    margin: auto;
}

#ciclos button {
    box-sizing: content-box;
    background-color: white;
    border: 1px solid black;
    color: #8C4F2B;
    padding: 10px 24px;
    /* cursor: pointer; */
    width: 90%;
    margin: auto;
    display: block;
}

#ciclos button:not(:last-child) {
    border-bottom: none;
    /* Prevent double borders */
}

/* Add a background color on hover */
#ciclos button:hover {
    background-color: #3e8e41;
}






/* Pie de página */

footer {
    background-color: #BF7F30;
    color: #D9AD5B;
    padding: 12px;
}


footer address {
    margin-bottom: 1em;

}

footer aside {
    margin-top: 1em;
    display: flex;
    flex-direction: column;

}

footer aside * {
    margin: auto;
}

footer .logo {
    width: 70px;
    height: 70px;
}


/* Enlaces en el cuerpo de la página:
    Si no se ha visitado: azul enlace
    Si se ha visitado: morado enlace */

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: purple
}

a:active {
    color: #D9AD5B
}

a:hover {
    color: white;
}


/* Elementos de los formularios */

form {
    background-color: #D9D9D9;
    color: #8c4f2b;
    border: 3px solid gray;
}

.aceptar {
    background-color: #D9AD5B;
    color: black;
    padding: 0.4em 0.6em;
    margin: 0.5em 0.5em 0.5em 0;
}

.cancelar {
    background-color: #D9D9D9;
    color: black;
    padding: 0.4em 0.6em;
    margin: 0.5em 0.5em 0.5em 0;
}


@media (min-width: 500px) {}