body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAF2E4;
    margin: 0 10%;
}
header{
    text-align: center;
    text-transform: uppercase;
    border-bottom: 3px solid #bfdae1;
   
}
h1{
    font-family: Arial, serif;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    color: #D16B47;
}
address p:nth-of-type(n+1) {
    font-style: normal;
    margin-bottom: 0px;
}



